body {
	font-size: 13px;
	font-family: "Poppins";
}

#wrapwrap {
	font-family: "Poppins";
	font-size: 13px;

	h1, h2, h3, h4, h5, h6 {
		font-family: "Poppins";
	}
	#top_menu > li > a {
		font-family: "Poppins";
	}
	.category-name {
		font-family: 'Poppins';
		font-size: 22px;
	}
	.products_pager {
		font-size: 16px;
	}
}

.oe_product {
	section {

		h5 strong a {
			font-size: 16px;
		}
	}
}

#wrapwrap > footer {
	.container {
		p, .list-unstyled {
			font-size: 16px;
		}
	}
}
