/* ==========================================================================
   Blue
   ========================================================================== */

/* Colors
   ========================================================================== */

@brand-primary: @blue-primary;
@brand-success: @blue-success;
@brand-info: @blue-info;
@brand-warning: @blue-warning;
@brand-danger: @blue-danger;

@flectra-brand-primary: @brand-primary;
@flectra-brand-optional: @brand-primary;
@flectra-brand-secondary: #f0eeee;
@flectra-brand-lightsecondary: #e2e2e0;

@flectra-color-pink: @brand-primary;
@flectra-main-color-muted: #a8a8a8;
@flectra-main-text-color: #4c4c4c;

@flectra-view-background-color: white;
@flectra-shadow-color: #303030;
@custom-text-color: #54667a;
