//------------------Breadcrumb Changes--------------//
.breadcrumb > .active {
	color: @color-custom-black !important;
}

.breadcrumb > li + li:before {
	color: @color-custom-black !important;
}

//------------------Success Color Changes--------------//
.text-success, .text-success:hover {
	color: #5cb85c !important;
}

//------------------Dropdown Menu Header Color Changes--------------//
.open .dropdown-menu > li.dropdown-header {
	color: @brand-primary !important;
}

//--------Navtabs <li> Active Color Change (Tab& Sheet Both)-----------------//
.o_content, .o_notebook {
	.nav-tabs > li.active > a {
		border-bottom: 2px solid @brand-warning;
		border-top: 1px solid transparent;
		border-right: 1px solid transparent;
		border-left: 1px solid transparent;
	}

	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
		color: @brand-warning !important;
		background-color: transparent !important;
	}

	.nav > li > a:hover {
		border-color: transparent !important;
		color: @brand-primary !important;
		background-color: transparent !important;
	}

	.nav-tabs {
		border-bottom: 1px solid #ebebeb !important;
		margin-bottom: 8px;
	}
}

//--------------------------Wizard Header Change----------------//
.modal-header {
	background: #fff;
	justify-content: space-between;
	padding: 15px;
	border-bottom: 1px solid #eceeef !important;
	border-radius: .2rem;

	.close {
		color: #000 !important;
		text-shadow: 0 1px 0 #fff !important;
		opacity: .5 !important;
	}

}

.modal-body {
	background: #FFF !important;

	.o_modal_header {
		background: #FFF !important;
	}

	.o_searchview {
		margin: 5px 0 5px 0;
	}
}

.modal-footer {
	background: #fff;
	justify-content: space-between;
	padding: 15px;
	border-top: 1px solid #eceeef !important;
	border-radius: .2rem;
}

//---------------------------Wizard Modal Dialog Paddding------------//
.modal-dialog {
	.modal-body {
		padding: 1% !important;
	}
}

//-----------------------------Horizontal Seprator Font Size Change---------//
.o_form_view .o_horizontal_separator {
	font-size: 20px !important;
}

//------------------------------Badge Changes-------------------------//
.o_form_view .o_form_field_many2manytags .badge {
	font-size: 12px !important;
	font-weight: bold !important;
	padding: 4px !important;
}

.o_form_view .oe_inline {
	width: 100% !important;
}

//------------------------Form View Button Box Hover Changes--------//
.o_form_view .oe_button_box .oe_stat_button:hover {
	color: #54667a !important;
}

.o_form_view .oe_button_box {
	.btn {
		margin: 2px;
	}
}

//---------------------------Dropdown Menu Less-------------//
.dropdown-menu {
	background-color: #fff !important;
	border: 1px solid #ccc !important;
	border: 1px solid rgba(0, 0, 0, 0.15) !important;
	border-radius: 0 !important;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;
	background-clip: padding-box !important;

	> li a {
		color: @color-custom-black !important;

		&:hover {
			background-color: @dropdown-hover-bg !important;

		}

		&:focus {
			background-color: @dropdown-hover-bg !important;
		}
	}
}

//---------------------Auto Complete Dropdown Menu-------------------//

.ui-autocomplete {
	background-color: #fff !important;
	box-shadow: 1px 0px 6px 6px rgba(0, 0, 0, 0.1) !important;

	> .ui-menu-item > a {
		color: @custom-text-color;
	}

	> li:hover {
		a {
			color: #fff !important;
			background-color: @brand-primary !important;
		}
	}
}

//--------------------Searchmenu <li> Hover And Option Button-----------//

.o_search_options {
	> div > button {
		border: none;
		margin: 0 !important;
		background: transparent !important;
	}

	.o_filters_menu li > a:hover,
	.o_group_by_menu li > a:hover,
	.o_favorites_menu li > a:hover {
		//color: #fff !important;
	}

	.o_filters_menu li > a,
	.o_group_by_menu li > a,
	.o_favorites_menu li > a {
		color: #333 !important;

		&:focus {
			color: #fff !important;
		}
	}

	.btn {
		&:active {
			box-shadow: none !important;
		}

		&:focus {
			box-shadow: none !important;
		}

	}

}

.o_cp_switch_buttons {
	.btn {
		border: none;
		background: transparent !important;
		box-shadow: none !important;

	}
	.active {
		border: none;
		background: transparent !important;
		color: @brand-primary !important;

	}

}

.o_cp_pager, .o_cp_sidebar {
	.btn {
		border: none;
		background: transparent !important;

		&:active {
			box-shadow: none !important;
		}
	}
}

//-----------------------Followers Button Footer------------------//
.o_followers .o_followers_actions .o_followers_follow_button {
	color: @brand-primary !important;
}

//----------------------------All Labels Changes-----------------------//

label {
	font-weight: 400 !important;
	//color: #636c72 !important;
	color: #54667a !important;
}

//----------------------Horizontal Separator-----------------------//
.o_horizontal_separator {
	color: #636c72 !important;
}

//---------------------------Breadcrumb Color ------------------------//
.o_control_panel {
	background-color: @bg-light-all !important;
}

//--------------------------Status Buttons---------------------------//

.o_form_view > header {
	background-color: #fff !important;
}

.o_form_view ul.oe_form_status li, .o_form_view ul.oe_form_status_clickable li {
	background: transparent !important;
	border-color: transparent;
}

.o_form_view ul.oe_form_status li.oe_active, .o_form_view ul.oe_form_status_clickable li.oe_active {
	background: transparent !important;
	border-color: transparent;
}

//---------------Status Button Arrow Bg Change  --------------------//
.oe_form_field_status.oe_form_status_clickable.o_form_field > li > .arrow > span {
	background-color: transparent !important;
	background: transparent !important;
}

.o_form_view ul.oe_form_status li > .arrow span, .o_form_view ul.oe_form_status_clickable li > .arrow span, .o_form_view ul.oe_form_status li.oe_active > .arrow span,
.o_form_view ul.oe_form_status_clickable li.oe_active > .arrow span {
	background-color: transparent !important;
	background: transparent !important;

}

.o_form_view ul.oe_form_status li.oe_active > .arrow span {
	box-shadow: 2px 0px 1px rgba(255, 255, 255, 0.2), inset -3px 3px 0px @brand-primary !important
}

.o_form_view ul.oe_form_status li > .label,
.o_form_view ul.oe_form_status_clickable li > .label {
	text-shadow: none !important;
}

//Selectable State Button Active Arrow
.o_form_view ul.oe_form_status li.oe_active > .arrow span, .o_form_view ul.oe_form_status_clickable li.oe_active > .arrow span {
	box-shadow: 2px 0px 1px rgba(255, 255, 255, 0.2), inset -3px 3px 0px @brand-primary !important
}

//--------------------All <li> Color Change-----------------
.o_form_view ul.oe_form_status li.oe_active > .label, .o_form_view ul.oe_form_status_clickable li > .label {
	color: #636c72 !important;
}

//----------------------Active <li> Color Change-----------------
.o_form_view ul.oe_form_status li.oe_active > .label, .o_form_view ul.oe_form_status_clickable li.oe_active > .label {
	color: @brand-primary !important;
}

.o_form_view ul.oe_form_status li:last-child,
.o_form_view ul.oe_form_status_clickable li:last-child {
	border-right: 1px solid transparent;
}

//------------------------------Required Field Border Color-------------------------//

.o_required_modifier.o_input, .o_required_modifier .o_input {
	background-color: transparent !important;
}

//--------------------------------Table List View Changes-------------------//
.table-responsive {
	.o_list_editable {
		.o_form_view .o_form_required.o_input, .o_form_view .o_form_required .o_input, .o_form_view .o_form_required.o_form_textarea, .o_form_view .o_form_required .o_form_textarea {
			//background-color: #D2D2FF !important;
		}
	}
}

.o_list_view .o_list_record_selector {
	width: 1px;
	padding: 5px 10px !important;
}

//---------------------List View & Form View Required Field Changes----//
.o_list_editable_form, .o_form_view {
	.o_form_required.o_form_textarea {
		background-image: linear-gradient(#f1f1f1, #f9f9f9), linear-gradient(#ffffff, #ffffff) !important;
	}
}

//List View Align Digit Set
.table-responsive {
	.o_list_view .o_list_number {
		text-align: left !important;
	}
}

//------------------------------All Button Border Radius ---------------//

.btn, .btn-group > button {
	outline: 0 !important;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;

	&:hover {
		background: lighter(@brand-primary, 10%) !important;
		opacity: 0.7;
		border: 1px solid ighter(@brand-primary, 10%) !important;
	}
}

//----------------------Buttons------------------------//
.btn-default, .btn-icon {
	background-color: #fcfcfc !important;
	border-color: #ccc !important;
	color: #54667a !important;

}

.o_cp_switch_buttons {
	.btn.btn-icon {
		//font-size: 11px !important;
	}
}

//------------------------Chatter Box----------------------//

.o_form_view .oe_chatter {
	display: block;
	min-width: 682px;
	max-width: 100% !important;
	margin: 0 auto;
	padding: 16px 40px 48px !important;
	background: @bg-light-cpanel !important;
}

//Thread Message Log Design Change
.o_mail_thread .o_thread_message .o_thread_message_core.o_mail_note, .o_mail_activity .o_thread_message .o_thread_message_core.o_mail_note {
	padding: 1% !important;
	border-radius: 4px !important;
}

.o_mail_thread .o_thread_date_separator .o_thread_date, .o_mail_activity .o_thread_date_separator .o_thread_date {
	background: @brand-danger !important;
	color: #fff !important;
	border-radius: 4px;
}

//-----------------------Border Dashed Bg Change--------------------------//
.o_mail_activity .o_thread_date_separator.o_border_dashed {
	border-bottom: dashed #ccc 2px !important;
}

//---------Form Input Animation----------------------------------------//

.form-group {
	overflow: hidden;
}

.o_input {
	background-color: transparent;
	background-position: center bottom, center calc(100% - 1px);
	background-repeat: no-repeat;
	background-size: 0 2px, 100% 1px;
	padding: 0;
	transition: background 0s ease-out 0s;
}

.o_input, .o_input.focus, .o_input:focus {
	background-image: linear-gradient(@brand-primary, @brand-primary), linear-gradient(#d9d9d9, #d9d9d9);
	border: 0 none !important;
	border-radius: 0;
	box-shadow: none;
	float: none;
}

.o_input.focus, .o_input:focus {
	background-size: 100% 2px, 100% 1px;
	outline: 0 none;
	transition-duration: 0.4s;
}

//-------------------Kanbanview Card-----------------------//
.o_kanban_view .o_kanban_record {
	//box-shadow: 0px 0px 1px 1px rgba(128, 128, 128, 0.17) !important;

	//Kanban Card Button Primary Radius Change

	.o_kanban_card_content {
		.btn {
			//background: #666666;
			background: @brand-success;
			-webkit-transition: all .2s ease-in-out;
			-o-transition: all .2s ease-in-out;
			transition: all .2s ease-in-out;

			&:hover {
				background: lighter(@brand-primary, 10%) !important;
				opacity: 0.7;
				border: 1px solid ighter(@brand-primary, 10%) !important;
			}
		}
	}
}

//----------------Searchview Border-Radius----------------------//
.o_searchview {
	border-bottom: 1px solid rgba(0, 0, 0, .15);
	transition: 0.5s ease-in;
	background: @bg-light-all;
}

.o_searchview_input {
	background: @bg-light-all;
}

.o_searchview_input:focus {
	border-bottom: none !important;
}

@media (max-width: 1024px) {
	.o_searchview {
		border-radius: 0;
	}
}

//--------------------Table Design Change---------------------------//
.o_form_sheet {
	.o_list_view.table thead {
		border-bottom: 1px solid grey !important;
		background: #fff !important;
		font-size: 15px !important;
	}
}

.o_list_view.table thead {
	border-bottom: 1px solid grey !important;
	background: #fff !important;
	font-size: 15px !important;
	color: @brand-primary;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
	// background-color: #eef0f0 !important;
	background-color: rgba(238, 240, 240, 0.31) !important;
}

.table-striped > tbody > tr {
	font-size: 14px;
}

//---------------------Kanban Card--------------------------//
.o_kanban_record {
	.o_kanban_card_header, .o_kanban_primary_bottom {
		background: #fff !important;
		border-bottom: 1px solid #ccc;
		border-radius: 4px !important;
	}
	.o_kanban_card_header_title {
		.o_primary {
			//color:#666666!important

		}
	}
	.o_kanban_card_content {
		.o_kanban_primary_right {
			a {
				color: #666666 !important;
			}
		}
	}

	.o_kanban_manage_toggle_button {
		color: @brand-warning !important;
	}
}

//--------------------Control Panel Media Query------------------//
@media (max-width: 1024px) {
	.o_cp_left, .o_cp_right {
		width: 100% !important;
	}
}

//--------------------------Form Sheet Border-------------------//
.o_form_sheet_bg > .o_form_sheet {
	border: 0 !important;
	//box-shadow: none !important;
	border-radius: 4px;
}

//------------------Badge------------------------//
.o_main_navbar {
	.badge {
		padding: 1px 9px 2px;
	}
}

.badge {
	display: inline-block;
	min-width: 10px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: normal;
	color: white;
	line-height: 1.42857143;
	vertical-align: middle;
	white-space: nowrap;
	text-align: center;
	background-color: @brand-success;
	border-radius: 10px;
}

//-------------------------------Datepicker------------------------------------//
.o_datepicker {
	position: relative;

	.o_datepicker_input {
		width: 100%;
	}

	.o_datepicker_button {
		&:after {
			.o-caret-down;
		}

		cursor: pointer;
		position: absolute;
		top: 0;
		right: 0;
	}
}

.datepicker {
	.table-condensed {
		> thead {
			color: white;
			background-color: @flectra-brand-primary;

			> tr {
				&:first-child {
					th:hover {
						color: white;
						background-color: darken(@flectra-brand-primary, 10%);
					}
				}

				&:last-child {
					color: @flectra-brand-secondary;
					background-color: lighten(@flectra-brand-secondary, 30%);
				}
			}
		}

		> tbody {
			> tr {
				> td {
					&.active, .active {
						background-color: @flectra-brand-optional;
						border-radius: 100px;
					}

					&.today:before {
						border-bottom-color: @flectra-brand-optional;
					}
				}
			}
		}
	}
}

//--------------------Datepicker Table Header(Week) Color Change---------//
.datepicker .table-condensed > thead > tr > th {
	background: @brand-primary !important;
}

//----------------------Website Dashboard BG Color Issue------------//
.o_dashboards .o_website_dashboard .o_dashboard_common .o_inner_box.o_primary {
	background-color: @brand-primary;
	color: white !important;
}

//----------------------------Searchbox Autocomplete Dropdown----------//
.o_searchview_autocomplete {
	.dropdown-menu > li a {
		color: unset;
	}

	.dropdown-menu > li:hover {
		color: #fff;
	}
}

.o_fooer {
	position: fixed;
	top: 0;
	right: 50%;
	padding: 4px 12px;
	background-color: @flectra-color-pink;
	color: white;
	text-align: center;
	border-top: none;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}

//---------------------------Media Query Start--------------------//

//---------------Form View Width Auto Responsive Screen-----------//

//-------------Form Sheet-----------//
.o_form_view .o_form_sheet_bg .o_form_sheet {
	min-width: auto !important;
}

//-----------All Input Field Width------//
.o_form_view .o_group .o_form_field {
	width: auto !important;
}

//---------------Title Name----------------//
.o_form_view .oe_button_box + .oe_title,
.o_form_view .oe_button_box + .oe_avatar + .oe_title {
	width: auto;
}

//---------------Modal Responsive-----------//
.modal {
	position: absolute;
}

//-------------------Chatter Footer-----------//
.o_form_view .oe_chatter {
	min-width: auto;
}

//-----------Mail Chatter Inbox---------//
.o_mail_chat .o_mail_annoying_notification_bar {
	height: auto !important;
}

@media (max-width: 767px) {
	//---------------Breadcrumb Width---------//
	.o_control_panel .breadcrumb {
		width: 100%;
	}

	//------------Auto Complete Textbox--------//
	.o_input.ui-autocomplete-input {
		width: auto !important;
	}

	//----------Calendar Field Widht Issue---------//
	.o_datepicker_input.o_input {
		width: auto !important;
	}

	//------------Field All Animation---------//
	.o_form_view .oe_inline {
		width: auto !important;
	}

	//---------------Breadcrumbs----------------//
	.o_form_view .o_form_statusbar > .o_statusbar_buttons {
		flex-flow: wrap-reverse;
	}

	.o_field_widget .o_input_dropdown {
		width: auto !important;
	}
}

//---------------------------Media Query End--------------------//

.o_sidebar_add_attachment {
	background: @brand-primary !important;
}

.o_kanban_view .o_kanban_record {
	margin: 0 0 2px;
}

.o_kanban_view.o_kanban_grouped.o_kanban_small_column .o_kanban_group:not(.o_column_folded) {
	border: 1px solid #cdcdcd;
}

.o_kanban_counter > .o_kanban_counter_progress {
	background-color: #ccc;
}

.o_form_view .o_form_sheet_bg {
	padding-bottom: 1%;
}

.table-responsive > table > thead > tr > th {
	text-align: left !important;
}

.o_kanban_counter {
	.progress {
		border-radius: 4px;
	}
}
