// App Drawer / Icons
@app-drawer-icon-size: 6em;
@app-drawer-icon-margin: 1em;
@app-drawer-width: 100%;
@app-drawer-title-height: @navbar-height;

// Navbar
@app-drawer-navbar-height: @navbar-height / 2;
@app-drawer-navbar-padding-vertical: @navbar-padding-vertical / 2;
@app-drawer-padding-horizontal: @navbar-padding-horizontal / 2;

@color-custom-black: #666666;
.text-info {
	color: #666666 !important;
}

@bg-light-all: #f2f7f8;
@bg-light-cpanel: #fff;
@dropdown-hover-bg: #d1d1d1;

@flectra-font-size-base: 13px;

// Colors
@flectra-main-color-muted: #a8a8a8;
@flectra-main-text-color: #666666;
@flectra-brand-optional-disabled: #6ED0BC; // Specifically used for status bar status arrows
@flectra-view-background-color: #ffffff;
@flectra-shadow-color: #303030;

@flectra-webclient-background-color: @flectra-brand-secondary;
@flectra-form-lightsecondary: lighten(@flectra-brand-secondary, 25%);
@flectra-list-grey: @flectra-brand-lightsecondary;

// Layout
@screen-xs-min: 475px;
@screen-xxs-max: (@screen-xs-min - 1);
@flectra-form-group-cols: 12;
@flectra-form-spacing-unit: 5px;
@flectra-horizontal-padding: 16px;
@flectra-innergroup-rpadding: 45px;
@flectra-dropdown-hpadding: 25px;
@flectra-sheet-vpadding: 24px;
@flectra-avatar-size: 90px;
@flectra-statusbar-height: 36px;
@flectra-statusbar-arrow-width: @flectra-statusbar-height/3;
@flectra-statbutton-height: 48px;
@flectra-statbutton-vpadding: 5px;
@flectra-statbutton-spacing: 12px;
@flectra-font-size-base-touch: 15px;
@flectra-label-font-size-factor: 0.8;
@flectra-navbar-height: 44px;
@flectra-navbar-inverse-link-hover-bg: darken(@flectra-brand-primary, 10%);
