.o_main_navbar {
	position: relative;
	height: 46px;
	border: 1px solid @brand-primary;
	background-color: @brand-primary;

	.open .dropdown-toggle {
		background-color: darken(@brand-primary, 10%);
	}

	> a {
		float: left;
		width: 46px;
		height: 45px;
		border: none;
		padding: 0;
		line-height: 46px;
		background-color: transparent;
		text-align: center;
		color: inherit;
		font-size: 18px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		&:hover, &:focus {
			background-color: darken(@brand-primary, 10%);
		}

	}

	ul > li > a {
		display: block;
		height: 45px;
		padding: 0 10px;
		color: white;
		line-height: 46px;

		&:hover {
			background-color: darken(@brand-primary, 10%);
		}
	}

	.oe_topbar_avatar { // user avatar
		height: 15px;
	}

	.o_menu_brand {
		display: block;
		float: left;
		margin-right: 35px;
		color: white;
		font-size: 22px;
		font-weight: 500;
		line-height: @flectra-navbar-height - 2;

		@media (max-width: @screen-xs-max) {
			float: none;
			margin: 0;
			border-bottom: 1px solid @flectra-navbar-inverse-link-hover-bg;
			color: transparent;
		}
	}

	.o_extra_menu_items {
		> a {
			width: @flectra-navbar-height - 2;
			text-align: center;
		}
		&.open > ul {
			padding: 0;

			> li {
				> a {
					background-color: #ddd !important;
					color: #333333;
					border-bottom: 1px solid @flectra-brand-lightsecondary;

					&.dropdown-toggle {
						background-color: lighten(@flectra-brand-primary, 15%);
						pointer-events: none; // hack to prevent clicking on it because dropdown always opened
					}
				}
				> ul { // remove dropdown-menu default style as it is nested in another one
					position: static;
					float: none;
					display: block;
					border: none;
					box-shadow: none;
					max-height: none;
				}
			}
		}
	}

	//------------------------Mobile Menu Toggle Navmenus-------------//
	.o_mobile_menu_toggle {
		width: 46px;
		height: 46px;
		border: none;
		padding: 0;
		line-height: 46px;
		background-color: transparent;
		text-align: center;
		color: inherit;
		font-size: 18px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	> button:hover {
		background: transparent !important;
	}

	.o_mail_navbar_item .o_notification_counter {
		top: -14%;
		right: 0;
		background: @brand-success;
		font-size: 0.7em;
		position: relative;
	}

}
